lenstronomy>=1.10.3
numpy~=1.23.5
scipy~=1.10.0
matplotlib~=3.6.3
astropy
imageio~=2.25.0
tqdm~=4.64.1
# TODO: checking for a recent version of paltas
paltas~=0.1.1
# -e git://github.com/swagnercarena/paltas.git#egg=paltas


pandas
setuptools
Pillow>=10.0.1
